<%- include('partials/header') %>
<style media="screen">
  label{
    font-family: "Arial";
    text-transform: uppercase;
    font-weight: 200;
    margin:0.5em 0em;
  }

</style>
<div class="container jumbotron sm-12" style="width: 35%;">

  <div class="jumbotron" style="background-color: #fff;border-radius: 20px;">
    <p class="display-3" style="text-transform: capitalize;color: #FF5722;font-size:30px;text-align:center;"><%=mem%> Register</p>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">

              <!-- Makes POST request to /register route -->
                <div class="form-group">
                  <label for="name">Name: </label>
                  <input id="name" type="text" class="form-control" name="name" required>
                </div>
                <div class="form-group">
                  <label for="phone">Mobile No.: </label>
                  <input type="tel" id="phone" class="form-control" name="phone" required>
                </div>
                <div class="form-group">
                  <label for="email">Email: </label>
                  <input type="email" id="email" class="form-control" name="email" required >
                </div>
                <div class="form-group">
                  <label for="dob">DOB: </label>
                  <input class="form-control" type="date" id="dob" name="dob" required>
                </div>

                <% if(mem == "student"){%>
                  <div class="form-group">
                    <label for="number">Enrollment No.: </label>
                    <input type="number" class="form-control number" name="number" required>
                  </div>
                  <div class="form-group">
                      <label for="branch">Branch: </label>
                      <select id="branch" name="branch">
                        <option value="">...</option>
                        <option value="CSE1">CSE1</option>
                        <option value="CSE2">CSE2</option>
                        <option value="CSE3">CSE3</option>
                        <option value="IT1">IT1</option>
                        <option value="IT2">IT2</option>
                        <option value="ECE1">ECE1</option>
                        <option value="ECE2">ECE2</option>
                        <option value="EEE">EEE</option>
                        <option value="CSE(E)">CSE(E)</option>
                        <option value="IT(E)">IT(E)</option>
                        <option value="ECE(E)">ECE(E)</option>
                      </select>
                      <label for="shift" style="margin-left:60px;">Shift: </label>
                      <select id="shift" name="shift">
                        <option value="1st">1st</option>
                        <option value="2nd">2nd</option>
                      </select>
                  </div>
                <%}%>

                <% if(mem == "teacher"){%>
                  <div class="form-group">
                    <label for="number">Employee Id: </label>
                    <input type="number" class="form-control number" name="number" required>
                  </div>
                  <div class="form-group">
                      <label for="branch">Department: </label>
                      <select id="branch" name="branch">
                        <option value="">...</option>
                        <option value="CSE">CSE</option>
                        <option value="IT">IT</option>
                        <option value="ECE">ECE</option>
                        <option value="EEE">EEE</option>
                      </select>
                      <label for="shift" style="margin-left:60px;">Shift: </label>
                      <select id="shift" name="shift">
                        <option value="1st">1st</option>
                        <option value="2nd">2nd</option>
                      </select>
                  </div>
                <%}%>

                <div class="form-group">
                  <label for="password">Password: </label>
                  <input type="password" class="form-control" id="password" name="password" required>
                  <h5 id="alertm" style="color:red; padding:3%;"></h5>
                </div>

                <div style="text-align:center;">
                  <button id="submit" type="submit" class="btn btn-lg" style="width: 40%;border-radius:20px;color: #ffff;background-color: #1fab89;">Register</button>
                </div>

            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

            <script type="text/javascript">


              $(document).ready(function() {
                  $('#submit').click(function(){
                    var name = $("#name").val();
                    var phone = $("#phone").val();
                    var dob = $("#dob").val();
                    var number = $("#number").val();
                    var email = $("#email").val();
                    var branch = $("#branch").val();
                    var shift = $("#shift").val();
                    var password = $("#password").val();
                    if(name&&phone&&dob&&email&&password){
                      var reg = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
                      var OK = reg.exec(phone);
                      if (!OK)
                        $("#alertm").html("Phone number isn't  valid");
                      else
                        {
                          $.post("/register/<%=mem%>",
                            {
                              name:name,
                              phone:phone,
                              dob:dob,
                              number:number,
                              email: email,
                              branch:branch,
                              shift:shift,
                              password: password
                            },function(res, status){
                              if(res.status=="fail"){
                                $("#alertm").html(res.msg);
                              }
                              if(res.status=="success"){
                                window.location.href = "/submitted/"+res.pid+"/<%=mem%>";
                              }
                            }
                          );
                        }
                    }else{
                      $("#alertm").html("Enter the empty fields");
                    }
                  });
                }
              );

            </script>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
