<%- include('partials/header') %>
<style media="screen">
  @media (min-width: 850px){
    .con {
      width: 70%;
    }
  }
  /* @media (min-width: 1300px){
    .footer{
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  } */
</style>

    <div class="con container" style="background-color: #fff;border-radius: 20px;text-align:center;margin-top:8%;">
      <div class="col-md-12 col-sm-12" style="padding:6%;">
      <p class="display-3" style="text-align:center;color: #FF5722;font-size:33px;">Submit Your New Grievances <a href="/formsubmit/<%= pid %>/<%=mem%>" role="button">here...</a></p>


      <% if(posts.length!=0){%>
        <hr />
        <div class="jumbotron col-lg-12">
          <h2 style="text-align:center; font-weight:200;font-size:30px;">Previous Grievances:</h2>
          <%  posts.forEach(function(post){ %>
                <h3><%= post.subject %></h3>
                <h4><%= post.details %></h4>
                <hr />
          <% }) %>
        </div>
      <%}%>

    </div>
  </div>


  </body>

  </html>
